
*{
	box-sizing:border-box;
}
p{
	font-family: papyrus;
	font-style: bold;
	overflow: scroll;
}
h1{
	margin-bottom:15px;
	text-align: center;
	font-size: 33.25px;
	color: blue;
	font-family: phosphate;
}
h3{
	margin-top: 0px;
	margin-bottom: 0px;
	width:150px;
	text-align: center;
	border: 1px solid black;
	font-size: 23.75px;
	color: solid black;
	position: absolute;
	height: 30px;
	right:0%;
}
section{
	background-color: grey;
	border: 1px solid black;
	margin: 1.6%;
	position: relative;
}
p{
	border: 1px;
	height:200px;
	width: 90%;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	font-size: 18px;
	font-weight: lighter;
	font-style: bold;
	color:solid black;
}
.new{
	width:100%;

}
.new1
{
	background-color: red;
	font-family: phosphate;
}
.new2
{
	background-color: yellow;
	font-family: phosphate;
}
.new3
{
	background-color: green;
	font-family: phosphate;
}
@media(min-width: 992px)
{
	.col-lg-3{
		float: left;
		border: 1px solid black;
		width: 30%;
	}
}
@media(min-width: 768px) and (max-width: 991px)
{
	.col-md-6{
		float:left;
		border:1px solid black;
		width:46.67%;
	}
	.col-md-1{
		float:left;
		border:1px solid black;
		width:96.67%;
	}

}
@media(max-width: 767px)
{
	.col-sm-1{
		float:left;
		border:1px solid black;
		width:96.67%;
	}
}